{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block Title %} complete{% endblock %}
{% block content %}
    <div class="row container"><br><br><br><br><br><br></div>
    <div class="row mx-5 p-5" dir="rtl">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 d-flex justify-content-end">
    <h5 class="mb-3">
     رمز شما با موفقیت تغییر کرد
    </h5>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
        <a type="submit" class="btn btn-dark btn-sm text-light mx-0 px-2" href="{% url 'accounts:login' %}">ورود</a>
        </div>
    </div>
    </div>
    <div class="row"><br><br><br><br><br><br><br></div>

{% endblock %}