{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>مدیریت فایل ها</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    {#  <link href="assets/img/favicon.png" rel="icon">#}
    {#  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">#}

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <style>
        /* Adjust the padding-top to match the height of your header */
        #hero {
            padding-top: 100px; /* Adjust this value accordingly */
        }
    </style>
    <!-- =======================================================
    * Template Name: Kelly
    * Template URL: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/
    * Updated: Mar 17 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</head>

<body dir="rtl">

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <h1 class="logo me-auto me-lg-0"><a class="text-decoration-none" href="index.html">مدیریت فایل ها</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        {% if user.is_authenticated %}
        <nav id="navbar" class="navbar order-last order-lg-0 ">
            <ul class="">
                <li><button id="addFolderBtn" class="btn text-white" style="background-color: #36afa1;">اضافه کردن پوشه</button></li>
                <li class="ms-5"><button id="addFileBtn" class="btn border-2" style="border-color: #36afa1;">اضافه کردن فایل</button></li>
                <li><a {% if request.resolver_match.url_name == 'storage' %}class="active"{% endif %} href="{% url 'storage:storage' %}">فضای ذخیره سازی من</a></li>
                <li><a {% if request.resolver_match.url_name == 'file-list' %}class="active"{% endif %} href="{% url 'storage:file-list' %}">همه فایل ها</a></li>
                <li><a {% if request.resolver_match.url_name == 'folders-list' %}class="active"{% endif %} href="{% url 'storage:folders-list' %}">همه پوشه ها</a></li>
                <li><form method="GET" class="text-end" action="{% url 'storage:file-folder-search' %}">
                    <input type="text" name="q" value="{{ query }}" placeholder="جستجو کنید">
                    <button class="align-items-end text-end p-2 m-0 btn btn-outline-dark" style="font-size: 10px;" type="submit">جستجو</button>
                </form></li>
            </ul>
            
            
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <div class="header-social-links col-2">
            

                <div class="nav-item dropdown" dir="rtl">
                    <button class="btn bg-transparent dropdown-toggle align-items-center"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        {% if user.profile.image %}
                            <img class="rounded-circle w-50 h-auto img-fluid ms-2"
                                 src="{{ user.profile.image.url }}" alt="profile">
                        {% else %}
                            <img class="rounded-circle w-25 h-auto img-fluid ms-2"
                                 src="{% static 'images/profile.jpg' %}" alt="profile">
                        {% endif %}
                        {{ user.first_name }}
                    </button>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-light text-end rounded">
                        {#                                        <li><a class="dropdown-item" href="{% url 'accounts:panel:user_panel' %}">پروفایل#}
                        {#                                            من</a></li>#}
                        <li><a class="dropdown-item" href="{% url 'accounts:logout' %}"> خروج</a></li>
                       
                    </ul>

                </div>
            

        </div>
        {% else %}
                <a type="submit" class="btn rounded-5 text-white p-3" href="{% url 'accounts:login' %}"
                   style="background-color: #36afa1">ورود / ثبت نام</a>
        {% endif %}

    </div>

</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-start">
    <div class="container d-flex flex-column align-items-center p-0">
        {% block content %}

        {% endblock %}
    </div>
</section><!-- End Hero -->

<div class="modal fade" id="addFolderModal" tabindex="-1" aria-labelledby="addFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFolderModalLabel">ایجاد پوشه جدید</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="uploadForm" method="post" action="{% url 'storage:create-folder' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <label for="id_name">نام:</label>
                        <input type="text" name="name" id="id_name" />
                    </div>
                    <div>
                        <label for="id_folder">انتخاب پوشه:</label>
            <select name="folder" id="id_folder">
                <option value="">بدون فولدر</option>
                {% for folder in folders %}
                    <option value="{{ folder.id }}">{{ folder.name }}</option>
                {% endfor %}
            </select>
                    </div>
                    <input type="hidden" name="parent" value="{{ parent_folder_id }}">
                    <button type="submit" class="btn btn-primary">ثبت</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addFileModal" tabindex="-1" aria-labelledby="addFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFolderModalLabel">ایجاد پوشه جدید</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="uploadForm" method="post" action="{% url 'storage:upload-file' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <label for="id_name">نام:</label>
                        <input type="text" name="name" id="id_name" />
                    </div>
                    <div>
                        <label for="id_content">انتخاب فایل:</label>
                        <input type="file" name="content" id="id_content" />
                    </div>
                    <div>
                        <label for="id_folder">انتخاب پوشه:</label>
                        <select name="folder" id="id_folder">
                            <option value="">بدون فولدر</option>
                            {% for folder in folders %}
                                <option value="{{ folder.id }}">{{ folder.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="hidden" name="parent" value="{{ parent_folder_id }}">
                    <button type="submit" class="btn btn-primary">ثبت</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--===== modal ====== -->
<div class="modal fade" id="PreviewModal" tabindex="-1" role="dialog" aria-labelledby="PreviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close btn btn-outline-danger px-2 py-0 fs-4" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title mx-2" id="PreviewModalLabel">پیش نمایش</h5>
        </div>
        <div class="modal-body text-center">
          <!-- محتوای مدال اینجا قرار می‌گیرد -->
        </div>
      </div>
    </div>
  </div>
<!-- ======= Footer ======= -->
<footer class="mt-5" id="footer">
    <div class="container">
        <div class="">
            &copy; Copyright <strong><span>Kelly</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End  Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
{#  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>#}
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
{% comment %} <script src="{% static 'vendor/php-email-form/validate.js' %}"></script> {% endcomment %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#addFolderBtn").click(function(){
            $("#addFolderModal").modal('show');
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#addFileBtn").click(function(){
            $("#addFileModal").modal('show');
        });
    });
</script>

<script>
    $(document).ready(function(){
        $("#uploadForm").submit(function(e){
            e.preventDefault();
    
            $.ajax({
                type: "POST",
                url: "{% url 'storage:create-folder' %}",
                data: $(this).serialize(), 
                success: function(response){
                    alert("پوشه با موفقیت ایجاد شد!");
                    $("#addFileModal").modal('hide');
                    location.reload();
                },
                error: function(xhr, status, error){
                    alert("خطا در ایجاد پوشه: " + xhr.responseText);
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
      $('.file-link').on('click', function (e) {
        e.preventDefault()
    
        var fileId = $(this).data('id')
    
        $.ajax({
          url: '/file/' + fileId + '/',
          type: 'GET',
          success: function (data, status, xhr) {
            var contentType = xhr.getResponseHeader('Content-Type')
            var modalBody = $('#PreviewModal .modal-body')
            modalBody.empty()
            console.log(contentType)
    
            if (contentType.startsWith('image')) {
              var img = new Image()
              img.onload = function () {
                img.style.width = '100%';
                modalBody.append(img)
                $('#PreviewModal').modal('show')
                $('#PreviewModal .modal-dialog').removeClass('modal-lg').removeClass('modal-sm').addClass('modal-md')
              }
              img.src = URL.createObjectURL(data)
            } else if (contentType.startsWith('video')) {
              var video = $('<video controls style="max-width: 100%;">', { class: 'video-fluid' })
              video.on('loadedmetadata', function () {
                modalBody.append(video)
                $('#PreviewModal').modal('show')
                $('#PreviewModal .modal-dialog').removeClass('modal-lg').removeClass('modal-md').addClass('modal-sm')
              })
              var source = $('<source>', { src: URL.createObjectURL(data), type: contentType, class: 'video-fluid' })
              video.append(source)
              video[0].load()
            } else {
              modalBody.text('Unsupported file type.')
              $('#PreviewModal').modal('show')
              $('#PreviewModal .modal-dialog').removeClass('modal-md').removeClass('modal-sm').addClass('modal-lg')
            }
          },
          xhr: function () {
            var xhr = new XMLHttpRequest()
            xhr.responseType = 'blob'
            return xhr
          }
        })
      })
    })
    
    $('#PreviewModal').on('hidden.bs.modal', function () {
      $('body').removeClass('modal-open')
      $('.modal-backdrop').remove()
    })
  </script>
{% block scripts %}

{% endblock %}

</body>

</html>