{% extends 'base.html' %}
{% load static %}

{% block title %}
  products
{% endblock %}

{% block content %}
  <section class="position-relative pt-0 mt-0" dir="rtl">
    <h1 class="mb-3">File List</h1>
    <table>
      <thead class="">
        <tr class="py-3">
          <th class="px-5 py-3 text-center">Thumbnail</th>
          <th class="px-5 py-3 text-center">Name</th>
          <th class="px-5 py-3 text-center">Upload Date</th>
          <th class="px-5 py-3 text-center">Upload Time</th>
          <th class="px-5 py-3 text-center">Size</th>
          <th class="px-5 py-3 text-center">Type</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for file in files %}
          <tr>
            <td class="text-center py-3">
              <img src="{{ file.thumbnail }}" alt="{{ file.name }}" />
            </td>
            <td class="text-center py-3">{{ file.name }}</td>
            <td class="text-center py-3">{{ file.upload_date }}</td>
            <td class="text-center py-3">{{ file.upload_time }}</td>
            <td class="text-center py-3">{{ file.size }}</td>
            <td class="text-center py-3">{{ file.type }}</td>
            <td class="text-center py-3">
              <a href="{% url 'storage:download-file' file.id %}" class="btn btn-outline-primary download-file">دانلود</a>
            </td>
            <td class="text-center py-3">
              <a class="btn btn-outline-danger delete-file" data-file-id="{{ file.id }}">حذف</a>
            </td>
            <td class="text-center py-3">
              <a class="btn btn-outline-success file-edit-btn" data-id="{{ file.id }}" data-type="file">ویرایش</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}

{% block scripts %}
  <script>
    function getCookie(name) {
      var cookieValue = null
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';')
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim()
          if (cookie.substring(0, name.length + 1) === name + '=') {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
            break
          }
        }
      }
      return cookieValue
    }
    document.addEventListener('DOMContentLoaded', function () {
      var editButtons = document.querySelectorAll('.file-edit-btn')
    
      editButtons.forEach(function (button) {
        button.addEventListener('click', function () {
          var fileId = this.dataset.id
          var newFileName = prompt('نام جدید را وارد کنید:', '')
    
          if (newFileName != null) {
            var formData = new FormData()
            formData.append('name', newFileName)
    
            fetch('/edit/' + fileId + '/file/', {
              method: 'PUT',
              body: formData,
              headers: {
                'X-CSRFToken': getCookie('csrftoken')
              }
            })
              .then((response) => {
                if (response.ok) {
                  window.location.reload()
                } else {
                  console.error('نام تغییر نکرد')
                }
              })
    
              .catch((error) => console.error('Error:', error))
          }
        })
      })
    })
    
    document.addEventListener('DOMContentLoaded', function () {
      var deleteButtons = document.querySelectorAll('.delete-file')
      deleteButtons.forEach(function (button) {
        button.addEventListener('click', function () {
          var fileId = button.getAttribute('data-file-id')
          console.log('File ID:', fileId)
          deleteFile(fileId)
        })
      })
    
      function deleteFile(fileId) {
        var confirmation = confirm('آیا از حذف فایل مطمئن هستید؟')
    
        if (confirmation) {
          fetch(`/file/delete/${fileId}/`, {
            method: 'DELETE',
            headers: {
              'X-CSRFToken': getCookie('csrftoken')
            }
          })
            .then((response) => {
              if (response.ok) {
                window.location.reload()
              } else {
                console.error('Failed to delete')
              }
            })
            .catch((error) => console.error('Error deleting file:', error))
        }
      }
    })
  </script>
{% endblock %}
