{% extends 'base.html' %}
{% load static %}

{% block title %}
  products
{% endblock %}

{% block content %}
  <section class="position-relative pt-0 mt-5" dir="rtl">
    <h1 class="mb-3">Folder List</h1>
    <table>
      <thead class="">
        <tr class="py-3">
          <th class="px-5 py-3 text-center"></th>
          <th class="px-5 py-3 text-center">Name</th>
          <th class="px-5 py-3 text-center">Create Date</th>
          <th class="px-5 py-3 text-center">Create Time</th>
          <th class="px-5 py-3 text-center">Size</th>
          {% comment %} <th class="px-5 py-3 text-center">Type</th>
          <th class="px-5 py-3 text-center">Thumbnail</th> {% endcomment %}
        </tr>
      </thead>
      <tbody class="text-center">
        {% for folder in folders %}
          <tr>
            <td class="text-center py-3">
              <a href="{% url 'storage:folder-files' folder.id %}"><img src="{% static 'images/folder.png' %}" alt="{{ folder.name }}" width="70" /></a>
            </td>
            <td class="text-center py-3">{{ folder.name }}</td>
            <td class="text-center py-3">{{ folder.create_date }}</td>
            <td class="text-center py-3">{{ folder.create_time }}</td>
            <td class="text-center py-3">{{ folder.size }}</td>
            {% comment %} <td class="text-center py-3">{{ file.type }}</td> {% endcomment %}

            <td class="text-center py-3">
              <a href="{% url 'storage:download-folder' folder.id %}" class="btn btn-outline-primary">دانلود</a>
            </td>

            <td class="text-center py-3">
              <a class="btn btn-outline-danger delete-folder" data-folder-id="{{ folder.id }}">حذف</a>
            </td>
            <td class="text-center py-3">
              <a class="btn btn-outline-success folder-edit-btn" data-id="{{ folder.id }}" data-type="folder">ویرایش</a>
            </td>
            <td class="text-center py-3">
              {% if folder.id %}
                <a href="{% url 'storage:folder-files' folder.id %}" class="btn btn-outline-secondary">باز کردن</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}

{% block scripts %}
  <script>
    function getCookie(name) {
      var cookieValue = null
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';')
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim()
          if (cookie.substring(0, name.length + 1) === name + '=') {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
            break
          }
        }
      }
      return cookieValue
    }
    document.addEventListener('DOMContentLoaded', function () {
      var editButtons = document.querySelectorAll('.folder-edit-btn')
    
      editButtons.forEach(function (button) {
        button.addEventListener('click', function () {
          var folderId = this.dataset.id
          var newFolderName = prompt('نام جدید را وارد کنید:', '')
    
          if (newFolderName != null) {
            var formData = new FormData()
            formData.append('name', newFolderName)
    
            fetch('/edit/' + folderId + '/folder/', {
              method: 'PUT',
              body: formData,
              headers: {
                'X-CSRFToken': getCookie('csrftoken')
              }
            })
              .then((response) => {
                if (response.ok) {
                  window.location.reload()
                } else {
                  console.error('نام تغییر نکرد')
                }
              })
    
              .catch((error) => console.error('Error:', error))
          }
        })
      })
    })
    
    document.addEventListener('DOMContentLoaded', function () {
      var deleteButtons = document.querySelectorAll('.delete-folder')
      deleteButtons.forEach(function (button) {
        button.addEventListener('click', function () {
          var folderId = button.getAttribute('data-folder-id')
          console.log('Folder ID:', folderId)
          deleteFolder(folderId)
        })
      })
    
      function deleteFolder(folderId) {
        var confirmation = confirm('آیا از حذف فایل مطمئن هستید؟')
    
        if (confirmation) {
          fetch(`/folder/delete/${folderId}/`, {
            method: 'DELETE',
            headers: {
              'X-CSRFToken': getCookie('csrftoken')
            }
          })
            .then((response) => {
              if (response.ok) {
                window.location.reload()
              } else {
                console.error('Failed to delete')
              }
            })
            .catch((error) => console.error('Error deleting folder:', error))
        }
      }
    
      
    })
  </script>
{% endblock %}
