{% extends 'base.html' %}
{% load static %}

{% block title %}
  products
{% endblock %}

{% block content %}
  <section class="position-relative pt-0 mt-0" dir="rtl">
    <h1 class="mb-3">File List</h1>
    <table>
      <thead class="">
        <tr class="py-3">
          <th class="px-5 py-3 text-center">Thumbnail</th>
          <th class="px-5 py-3 text-center">Name</th>
          <th class="px-5 py-3 text-center">Upload Date</th>
          <th class="px-5 py-3 text-center">Upload Time</th>
          <th class="px-5 py-3 text-center">Size</th>
          <th class="px-5 py-3 text-center">Type</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for folder in folders %}
          <tr>
            <td class="text-center py-3">
              {% if folder.id %}
                <a href="{% url 'storage:folder-files' folder.id %}"><img src="{% static 'images/folder.png' %}" alt="{{ folder.name }}" width="70" /></a>
              {% endif %}
            </td>
            <td class="text-center py-3">{{ folder.name }}</td>
            <td class="text-center py-3">{{ folder.create_date }}</td>
            <td class="text-center py-3">{{ folder.create_time }}</td>

            <td class="text-center py-3">{{ folder.size }}</td>
            <td class="text-center py-3">-</td>

            {% comment %} <td class="text-center py-3">{{ file.type }}</td> {% endcomment %}

            <td class="text-center py-3">
              {% if folder.id %}
                <a href="{% url 'storage:download-folder' folder.id %}" class="btn btn-outline-primary">دانلود</a>
              {% endif %}
            </td>

            <td class="text-center py-3">
              <a class="btn btn-outline-danger delete" data-folder-id="{{ folder.id }}">حذف</a>
            </td>
            <td class="text-center py-3">
              <a class="btn btn-outline-success folder-edit-btn" data-id="{{ folder.id }}" data-type="folder">ویرایش</a>
            </td>
            <td class="text-center py-3">
              {% if folder.id %}
                <a href="{% url 'storage:folder-files' folder.id %}" class="btn btn-outline-secondary">باز کردن</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        {% for file in files %}
          {% if not file.folder %}
            <tr>
              <td class="text-center py-3">
                <a href="#" class="file-link" data-id="{{ file.id }}" data-toggle="modal" data-target="#PreviewModal"><img src="{{ file.thumbnail.url }}" alt="{{ file.name }}" /></a>
              </td>
              <td class="text-center py-3">{{ file.name }}</td>
              <td class="text-center py-3">{{ file.upload_date }}</td>
              <td class="text-center py-3">{{ file.upload_time }}</td>
              <td class="text-center py-3">{{ file.size }}</td>
              <td class="text-center py-3">{{ file.type }}</td>
              <td class="text-center py-3">
                <a href="{% url 'storage:download-file' file.id %}" class="btn btn-outline-primary">دانلود</a>
              </td>
              <td class="text-center py-3">
                <a class="btn btn-outline-danger delete" data-file-id="{{ file.id }}">حذف</a>
              </td>
              <td class="text-center py-3">
                <a class="btn btn-outline-success file-edit-btn" data-id="{{ file.id }}" data-type="file">ویرایش</a>
              </td>
              <td class="text-center py-3">
                <a href="#" class="btn btn-outline-secondary file-link" data-id="{{ file.id }}" data-toggle="modal" data-target="#PreviewModal">نمایش</a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </section>

  {% if files.has_other_pages %}
    <div class="pagination">
      <span class="step-links">
        {% if files.has_previous %}
          <a href="?file_page=1">&laquo; صفحه اول</a>
          <a href="?file_page={{ files.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">Page {{ files.number }} of {{ files.paginator.num_pages }}.</span>

        {% if files.has_next %}
          <a href="?file_page={{ files.next_page_number }}">بعدی</a>
          <a href="?file_page={{ files.paginator.num_pages }}">صفحه آخر &raquo;</a>
        {% endif %}
      </span>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var editButtons = document.querySelectorAll('.folder-edit-btn')
    
      editButtons.forEach(function (button) {
        button.addEventListener('click', function () {
          var folderId = this.dataset.id
          var newFolderName = prompt('نام جدید را وارد کنید:', '')
    
          if (newFolderName != null) {
            var formData = new FormData()
            formData.append('name', newFolderName)
    
            fetch('/edit/' + folderId + '/folder/', {
              method: 'PUT',
              body: formData,
              headers: {
                'X-CSRFToken': getCookie('csrftoken')
              }
            })
              .then((response) => {
                if (response.ok) {
                  window.location.reload()
                } else {
                  console.error('نام تغییر نکرد')
                }
              })
    
              .catch((error) => console.error('Error:', error))
          }
        })
      })
    })
    
    document.addEventListener('DOMContentLoaded', function () {
      var editButtons = document.querySelectorAll('.file-edit-btn')
    
      editButtons.forEach(function (button) {
        button.addEventListener('click', function () {
          var fileId = this.dataset.id
          var newFileName = prompt('نام جدید را وارد کنید:', '')
    
          if (newFileName != null) {
            var formData = new FormData()
            formData.append('name', newFileName)
    
            fetch('/edit/' + fileId + '/file/', {
              method: 'PUT',
              body: formData,
              headers: {
                'X-CSRFToken': getCookie('csrftoken')
              }
            })
              .then((response) => {
                if (response.ok) {
                  window.location.reload()
                } else {
                  console.error('نام تغییر نکرد')
                }
              })
    
              .catch((error) => console.error('Error:', error))
          }
        })
      })
    })
    
    document.addEventListener('DOMContentLoaded', function () {
      var deleteButtons = document.querySelectorAll('.delete')
    
      deleteButtons.forEach(function (button) {
        button.addEventListener('click', function () {
          var fileId = button.getAttribute('data-file-id')
          var folderId = button.getAttribute('data-folder-id')
    
          console.log('File ID:', fileId)
          console.log('Folder ID:', folderId)
    
          var confirmation = confirm('آیا از حذف مطمئن هستید؟')
    
          if (confirmation) {
            if (fileId) {
              deleteFile(fileId)
            } else if (folderId) {
              deleteFolder(folderId)
            }
          }
        })
      })
    })
    
    function deleteFile(fileId) {
      fetch(`/file/delete/${fileId}/`, {
        method: 'DELETE',
        headers: {
          'X-CSRFToken': getCookie('csrftoken')
        }
      })
        .then((response) => {
          if (response.ok) {
            window.location.reload()
          } else {
            console.error('Failed to delete file')
          }
        })
        .catch((error) => console.error('Error deleting file:', error))
    }
    
    function deleteFolder(folderId) {
      fetch(`/folder/delete/${folderId}/`, {
        method: 'DELETE',
        headers: {
          'X-CSRFToken': getCookie('csrftoken')
        }
      })
        .then((response) => {
          if (response.ok) {
            window.location.reload()
          } else {
            console.error('Failed to delete folder')
          }
        })
        .catch((error) => console.error('Error deleting folder:', error))
    }
    
    function getCookie(name) {
      var cookieValue = null
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';')
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim()
          if (cookie.substring(0, name.length + 1) === name + '=') {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
            break
          }
        }
      }
      return cookieValue
    }
  </script>
{% endblock %}
